In [ ]:
'''
Q1. What is a database? Differentiate between SQL and NoSQL databases.
'''

In [ ]:
'''
A database is a structured collection of data that is organized and stored in a computer system. 
It is designed to allow for efficient storage, retrieval, and manipulation of data. 
SQL and NoSQL are two types of databases that differ in their structure, query language, and purpose.

SQL databases, also known as relational databases, are based on the relational model of data. 
They use SQL (Structured Query Language) to manage and manipulate data.
SQL databases are organized into tables with rows and columns.
ex: MySQL,Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, do not use a structured schema like SQL databases. 
They are designed to store and manage unstructured data such as documents, images, and videos.
ex: MongoDB,Cassandra etc.
'''

In [ ]:
'''
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
'''

In [ ]:
'''
DDL stands for Data Definition Language, which is a set of SQL commands used to define and manage the structure of a database.
1.CREATE: The CREATE statement is used to create new database objects such as tables, views, indexes, and sequences
ex: CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    name VARCHAR(50),
    email VARCHAR(50)
);
2. DROP: The DROP statement is used to delete existing database objects. 
ex:DROP TABLE customers;
3. ALTER: The ALTER statement is used to modify the structure of existing database objects. 
ex: ALTER TABLE customers
   ADD COLUMN phone VARCHAR(20);
4. TRUNCATE: The TRUNCATE statement is used to remove all the data from a table, but the table structure remains intact
ex: TRUNCATE TABLE customers;
'''

In [ ]:
'''
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
'''

In [ ]:
'''
DML stands for Data Manipulation Language, which is a set of SQL commands used to manipulate the data within a database. 
1. INSERT: The INSERT statement is used to add new data to a table.
ex: INSERT INTO customers (name, email)
    VALUES ('John Doe', 'john.doe@example.com');
2. UPDATE: The UPDATE statement is used to modify existing data in a table.
ex: UPDATE customers
    SET email = 'jane.doe@example.com'
   WHERE customer_id = 1;
3. DELETE: The DELETE statement is used to remove data from a table. 
ex: DELETE FROM customers
    WHERE customer_id = 2;
'''

In [ ]:
'''
Q4. What is DQL? Explain SELECT with an example.
'''

In [ ]:
'''
DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database.
DQL statements are used to retrieve and display data from tables.
ex: SELECT * FROM customers;
'''

In [ ]:
'''
Q5. Explain Primary Key and Foreign Key.
'''

In [ ]:
'''
A Primary Key is a column or set of columns in a table that uniquely identifies each row of data in that table. 
A Foreign Key is a column or set of columns in a table that refers to the Primary Key of another table
'''

In [ ]:
'''
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
'''

In [ ]:
'''
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")
mycursor.execute("CREATE TABLE if not exists  test1.test_table (c1 INT , c2 VARCHAR(50),c3 INT , c4 FLOAT , c5 VARCHAR(40))")
mydb.close()
The cursor() method creates a cursor object that is used to execute SQL queries and fetch results. 
The execute() method is used to execute an SQL query, and it takes the query string as a parameter.
'''

In [ ]:
'''
Q7. Give the order of execution of SQL clauses in an SQL query.
'''

In [ ]:
'''
FROM clause: specifies the table(s) from which to retrieve data.
WHERE clause: filters the rows based on a specified condition.
GROUP BY clause: groups the rows based on one or more columns.
HAVING clause: filters the groups based on a specified condition.
SELECT clause: specifies the columns to retrieve from the table(s).
ORDER BY clause: sorts the results based on one or more columns.
LIMIT clause: limits the number of rows returned by the query.
'''